/*
COLOR PALLETTE:

283618 - Kombu Green
606C38 - Dark Olive Green
FFFEF6 - White-ish primary background color for blog posts/body
DDA15E - Fawn (light brown)
BC6C25 - Liver Dogs (like a rust color)
*/

body {
    background-color: #fffef6;
}

.headerContainer {
    background-color: black;
    height: 200px;
    width: 100%;
   
}


.logoheader {
    display: flex;
    justify-content: center;

    
}

.footerContainer {
    position: fixed;
    bottom: 0;
    background-color: #283618;
    width: 100%;
    text-align: center;
    color: white;
    height: 30px;
}

.secondHeaderImage {
    position: absolute;
    width: 100%;
    top: 0;
}

.card {
    padding-top: 6px;
    background-color: #fffef6;
    text-align: center;
}

.card:hover {
    background-color: #ecc58a;
}

.card-img-top {
    height: 100px;
}

.card-text {
    color: black;
    
}


.navbar {
    background-color: #BC6C25;
    height: 40px;
    width: 100%;
}

.navbartext {
    padding-bottom: 20px;
    color: black;
}

.cardBio-text {

    color: black;
}

.adamcardimage {
    display: block;
    height: 70px;
    width: 70px;
    align-items: center;
    padding-bottom: 3px;
    
}
.adamcardimagebbfk {
    height: 125px;
    width: 95px;
    align-items: center;
    margin-bottom: 20px;
}

